body{
  background-image: url(/src/images/backgroundDot.jpeg);
  background-attachment: fixed;
  background-size: cover; 
}
.navigator{
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}
.navigator a{
  margin: 0px 50px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.members{
  color: white;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.heroes{
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: aliceblue;
  font-size: 2vw;
}
.heroes .grid-container{
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  grid-gap: 1vw ;
  font-family: "TrajanBold";
  width: 94.5%;
  justify-content: left;
  margin: 0 auto;
}
.heroes .grid-item h2{
  text-shadow: .1vw .1vw 1px black;
}
.heroes .grid-item{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 8vw;
  width: 14vw;
  font-size: 1.4vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
.heroDetails{
  color: white;
}
.heroes .content img{
  float: left;
  margin: 0;
  width: 1.6vw;
  margin-bottom: .2vw;
}
.heroes .content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: left;
  font-size: 1vw;
  margin-left: .5vw;
}
.heroes .content h2{
  margin: 0px;
}
.heroes a {
  text-decoration: none;
  color: aliceblue;
}
.heroes a:hover{
  color: white;
}
.heroes .top{
  width: 90%;
  margin: 0 auto;
  background-color: rgba(11, 5, 0, 0.796);
  padding: .2vw 1.5vw; 
  color: aliceblue;
  border: 2px solid rgb(255, 111, 0);
  border-radius: .3vw;
  box-shadow: 5px 5px 5px black;
}
.buttons{
    text-align: left;
    margin: 2.5vw;
    position: relative;
}
button{
    margin-right: 1vw;
    font-size: 1.5vw;
    padding: .2vw 1.5vw; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(54, 26, 0, 0.796);
    color: aliceblue;
    border-radius: .3vw;
    box-shadow: 2px 2px 2px black;
    filter: grayscale(1);
}
button:hover{
  filter:brightness(1.5) ;
  background-color: rgba(54, 26, 0, 0.796);
  filter: grayscale(0);
}
button img{
  height: 1.4vw;
  margin-right: -.5vw;
  margin-bottom: -.2vw;
}
.buttons .Add{
  margin-right: 1vw;
  font-size: 1.5vw;
  padding: .2vw 1.5vw; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(54, 26, 0, 0.796);
  color: aliceblue;
  border-radius: .3vw;
  box-shadow: 2px 2px 2px black;
  filter: grayscale(1);
  position: absolute;
  right: 0;
  margin-right: 0;
  color: rgb(255, 255, 255);
}
.buttons .Add:hover{
  filter: grayscale(0);
  background-color:rgb(255, 204, 0);
  color: black;
}
.buttons .Add:hover .plus{
  filter: grayscale(0);
  filter: invert(0);
}
.heroes .plus{
  filter: invert(1);
  margin-right: .3vw;
}